html {
  	font-family: sans-serif;
}

h1{
 	margin: .67em 0;
  	font-size: 3.75em;
  	margin-bottom: -5px;
  	font-weight: lighter;
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
nav{
	margin-top: 100px;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #292828;
	width: 100%;
	position: sticky;
	left: -4px;
  	min-height: 50px;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 15px;
	cursor: pointer;
	color: #9d9d9d;
}

nav ul a:link li {
	color: #9d9d9d;
	text-decoration: none;
}

nav ul a:visited li {
	color: #9d9d9d;
	text-decoration: none;
}

nav ul a:hover li {
	color: white;
	text-decoration: none;
}

nav ul a:active li {
	color: rgba(254, 88, 88, 1);
}

.jumbotron .container p{
	font-size: 20px;
}

.jumbotron{
	padding: 30px;
	margin-bottom: 15px;
}

body{
	background-color: #ffb800;
	color: #ffffff;
	margin: 0;
}

.text-center{
	text-align: center;
}

.container{
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}
