@font-face {
  font-family: Barney;
  src: url('fonts/oliversbarney.ttf');
}

html {
  	font-family: sans-serif;
  	height: 100%;
    width: 100%;
    max-width: 100%;
}

h1{
 	margin: .67em 0;
  	font-size: 3.75em;
  	margin-bottom: -5px;
  	font-weight: lighter;
}
h2{
	font-size: 30px;
	color: red;
}
h3{
	font-weight: bolder;
}
body{
	background-color: #ffb800;
	color: #ffffff;
	margin: 0;
  max-width: 100%;
	height: 100%;
	width: 100%;
}

.back-red{
  background-color: red;
}

.row{
	margin-left: 20px;
	margin-right: 10px;
}
.col-sm-3{
	margin-right: 30px;
	color: #000;
}
.dtl{
	text-align: right;
}
.list {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.text-center{
	text-align: center;
}
.content{
  min-height: 100%;
  max-width: 100%;
}
.container{
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
    margin-bottom: 0px;
}

/***************
PAGE JUAL BARANG
****************/
textarea{
  resize: vertical;
  padding: 5px;
  border-radius: 4px;
}

/***********
PAGE ACCOUNT
************/
.left-account{
  margin-left: 60px;
}
.user-pic{
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 250px;
  object-fit: cover;
}
.user-uname{
  font-size: 22px;
  font-weight: bolder;
}
.light{
  font-weight: normal;
  font-size: 18px;
}
.mar-1{
  padding-top: 10px;
}
.mar-2{
  padding-top: 20px;
}
.difcolor{
  color:#525252;
}
.btn-user{
  color:#fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #292828;
  width: 100px;
  font-weight: bolder;
}
.btn-user:hover{
  background-color: #343232;
  cursor: pointer;
}
.right-account{
  vertical-align: top;
  margin-left: 40px;
}
.header-account{
  font-size: 28px;
  font-weight: bolder;
}
hr{
  border: solid 1px #292828;
}
.align-right{
  text-align: right;
}
.space-left{
  padding-left: 50px;
}
.btn-save{
  margin-left: 10px;
  width: 100px;
  font-weight: bolder;
  color:#fff;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.btn-save:hover{
  background-color:rgba(255, 77, 77, 1);
  cursor: pointer;
}
.btn-edit{
  display: none;
}

/******
BERANDA
*******/
/*jumbotron*/
.jumbotron .container p{
	font-size: 20px;
}
.jumbotron{
	padding: 30px;
	margin-bottom: 0px;
}

/*Navbar*/
.navbar-right{
  float: right;
}

.navbar-right ul li{
	display: inline;
  padding: 14px 5px;
	list-style: none;
}
.navbar-right ul li:hover{
	cursor: pointer;
	color:#fff;
}
nav {
	vertical-align: middle;
  	background-color: #292828;
  	font-family: Arial;
  	color:#9d9d9d;
 	  top: 0px;
  	position: sticky;
  	z-index: 4;
  	min-height: 50px;
  	max-height: 50px;
  	cursor: context-menu;
    margin-top: -18px;
    width: 100%;
}
nav a{
  	float: left;
  	font-size: 16px;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	color: #9d9d9d;
}
nav a:hover{
	color:#fff;
}
nav div ul{
  display: inline;
}
.dropdown{
  	float: left;
  	overflow: hidden;
}
.dropdown .dropbtn {
  	font-size: 16px;
  	border: none;
  	outline: none;
  	color: #9d9d9d;
  	padding: 14px 16px;
  	background-color: inherit;
  	font-family: inherit;
  	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  color:#fff;
}
.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 5;
}
.dropdown-content a {
  	float: none;
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
}
.dropdown-content a:hover {
  	background-color: #ddd;
  	color: #000;
}
.dropdown:hover .dropdown-content {
  	display: block;
}

/*For Sign In*/
table{
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	color:black;
	border-collapse: collapse;
}
input[type="button"]{
	color:white;
	border: none;
	padding: 10px;
	border-radius: 5px;
  cursor: pointer;
}
.modal-signin{
	display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-signin-content{
	background-color: #fefefe;
	color:#000;
    margin: 15% auto;
	margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
input[name="submit"]{
	width: 100%;
	border: none;
	background-color: red;
	color:#fff;
}
input[name="submit"]:hover{
	background-color: rgba(255, 77, 77, 1);
	color:#fff;
	cursor: pointer;
}
input,select{
	font-size: 14px;
	width: 400px;
	padding: 10px;
	height: 40px;
	border-radius: 3px;
	border: 1px  solid rgba(158, 158, 158, 1);
}
.tbl-signin,.tbl-signup{
	border-collapse: separate;
	border-spacing: 0px 10px;
}
.tbl-signup{
  display: none;
  margin-left: 20px;
}
.tbl-signin tr td h1,.tbl-signup tr td h1{
	color:rgba(255, 77, 77, 1);
	font-family: Barney, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.content{
  margin-top: 20px;
  min-height: 100%;
  min-width: 80%;
}
.content a{
  color: #fff;
  text-decoration: none;
}
.container a{
  color: #fff;
  text-decoration: none;
}
#daftar,#masuk{
	color:rgba(255, 77, 77, 1);
	cursor: pointer;
}
.gagal{
  display: none;
  color:red;
}

/*Card Panel Products*/
.panel {
  margin-bottom: 20px;
  background-color: #292828;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #292828;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/***********
PRODUCT PAGE
************/
/*Gambar*/
.gambar-main{
	max-width: 300px;
	max-height: 300px;
}
.gambar-sub{
	max-height: 71px;
	max-width: 71px;
}
.gambar-sub:hover{
	cursor: pointer;
}

/*Informasi Barang*/
.info{
	margin-top: 20px;
	margin-left: 90px;
	color: #000;
}
.info table{
  border-collapse: separate;
  border-spacing: 5px 10px;
}

/***********
PAGE CONTACT
************/
.content h1{
	color:#000;
	font-weight: bolder;
	font-size: 35px;
	text-align: center;
}
.margin-right{
	margin-right: 10px;
	width: 80px;
}
.fa-envelope{
	color:#fff;
}
.fa-line{
	color:rgba(62, 179, 0, 1);
}
.fa-whatsapp{
	color:rgba(74, 183, 16, 1);
}
.bigger-icon{
	font-size: 50px
}
.smaller-icon{
	font-size: 30px
}
.label{
	font-size: 25px;
	color:black;
	font-weight: bolder;
}
.contact{
	text-align: center;
}

footer{
	margin-top: 30px;
	background-color: #292828;
	padding:20px;
}
